fieldset#fiel1{
    position: absolute;
    left: 490px;
    width: 28%;
    background-color: white;
    font-family: "Segoe UI","Arial","Times New Roman";
}   

legend#leg1{
    font-weight:bold;
    font-size: 30px;
    color: red;
}

fieldset#imglogin{
    position: absolute;
    border-radius: 50%;
    left: 36%;
    height: 14%;
    width: 20%;
}

input#username{
    display: flex;
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0; 
    width: 90%;
}

input#password{
    display: flex;
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    width: 90%;
}
form .row img{
    position: absolute;
    color: #555;
    width: 20px;
    height: 20px;
    right: 25px;
    top: 255px;
}

input#check1{
    position:absolute;
    left:36px;
}

button#btnlogin{
    position: absolute;
    margin: 30px;
    padding: 24px;
    width: 70%;
    height: 8%;
    left:33px;
    border-radius: 30px;
    cursor: pointer;
    top: 312px;
    color: rgb(245, 245, 245);
    background-color: white;
    background-size: 230%;
    text-transform: uppercase;
    transition: all 0.5s;
    /*background-image: -webkit-linear-gradient(left ,#00dbde,#fc00ff,#00dbde,#fc00ff);*//*Não apagar*/
    background-image: -webkit-linear-gradient(left ,#ff9100,#ec2300, #FF7100, #eeff00);

    border-color: aqua;
}
button:hover{
    background-position: right;
}
i#iconlogin{
    position: absolute;
    font-size: 23px;
    top: 13px;
    left: 131px;
}

fieldset#fgoogle{
    /*border: none;*/
    position: absolute;
    border-radius: 50%;
    left: 25%;
    height: 6%;
    width: 6%;
}
img#icongoogle{
    position: absolute;
    font-size: 32px;
    left: 9px;
    top: 10px;
}

fieldset#ftwitter{
    border: none;
    position: absolute;
    border-radius: 50%;
    left: 42%;
    height: 6%;
    width: 6%;
    background-color: #196ff0;
}
i#icontwitter{
    position: absolute;
    font-size: 32px;
    left: 10px;
    top: 10px;
    color: white;
}

fieldset#ffacebook{
    border: none;
    position: absolute;
    border-radius: 50%;
    left: 59%;
    height: 6%;
    width: 6%;
    background-color: #1723d1;
}
i#iconfacebook{
    position: absolute;
    font-size: 32px;
    left: 14px;
    top: 10px;
    color: white;
}

label#lb{
    position:absolute;
    left:58px;
}